.img-head {
width:100%;
height:350px;
object-fit:cover;
}

.img-col
{
  width:100%;
  padding:10%;
}

body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.pot-left {
  height: 400px;
  width: 350px;

}

.pot-right {
float:right;
width: 260px;
top: 0px;
bottom: 0px;
right: calc(50% - 130px);
left:0;
}

#right-pan{
display: inline-block;
width:300px;
float:right;
top: 0px;
bottom: 0px;
right: calc(50% - 130px);
left:0;
}

.pot{
  width:300px;
  height:500px;
  background-color: grey;
  text-align: center;
  
}


.img {
  position: relative;
  border: 0px solid black;
  box-shadow: 0 0 0 2px grey;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s;
  overflow: hidden;
  height: 0;
  background: rgba(255, 255, 255, 0);
  margin: 5%;
}
.img:hover .overlay,
.overlay:hover {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.img > img {
  display: block;/* Prevent inline gap under image*/
}

.row-dana
{
  margin-bottom: 20px;
}

.container-fluid
{
  padding: 0px;
  z-index: 500;
}

.navbar
{
  z-index: 1000;
}

.continut-item
{
  text-align: center;
}

.continut-item .pret
{
  font-size: 16px;
  font-weight: 400;
}

.continut-item .pret .valuta
{

}

.continut-item .nume
{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E6BC81 ;
  
  letter-spacing: 3px;
}

.specie
{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #B97F6D ;
  
  letter-spacing: 3px;
}

.item-dana
{
  
  border-radius: 5px;
  padding: 10px;
  margin: 10%;
  background-color: white;
  width:70%;
  margin-left: 20%;
}
body {
    background-color: #EDEDEE;
}
a:hover{
    text-decoration: none;
}

.btn {
  background-color: #B97F6D;
  border-radius: 0px;
  border: 0px;
}

.drop-elem
{
  color:#B97F6D !important;
}

.drop-elem:hover{
  color:#AA191E !important;
  background-color: white !important;
}

.glyphicon-shopping-cart{
  color:#D9534F;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.about{
  width:100%;
  height:50%;
  background-color: white;
  margin-top:1%;
  color:#B97F6D;
  font-size: 15px;
  text-align: center;
  padding:70px;
  padding-top: 100px;
  font-family: 'Inder', sans-serif;
  line-height: 1.4em;
}

.about-title{
  letter-spacing: 5px;
}

.shop-now{
  background-color: #123132;
  color:#B97F6D;
  width:100%;
  height:55%;
  margin-top: 1%;
  font-size: 70px;
  padding: 10%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("contact6.jpg");

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.special-requests{
  color:#B97F6D;
  font-size: 15px;
  text-align: center;
  padding:70px;
  padding-top: 100px;
  font-family: 'Inder', sans-serif;
  line-height: 1.4em;
  letter-spacing: 5px;
}

.form-control{
  width:50% !important;
  display: inline-block;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-size: 20px;
    font-weight: 200;
    color: white;
    display: inline-block;
    background-color: #B97F6D;
    padding: 7px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #D9534F;;
    padding: 7px;

}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.btn-default{
  background-color: #D9534F;
  color:white;
}

.btn-default:hover{
  background-color: #123132;
  color:white;
}

.info{
  background-color: #123132;
  color:#B97F6D;
  width:100%;
  height:55%;
  margin-top: 1%;
  font-size: 15px;
  padding: 5%;
  text-align: center;
  font-family: 'Inder', sans-serif;
}

.our-store-title{
  color:#B97F6D;
  font-size: 15px;
  text-align: center;
  font-family: 'Inder', sans-serif;
  letter-spacing: 5px;
  padding-bottom: 10px;
}