replaceWith('<div id="products" class="container-fluid">	

	<div class="row row-dana">

		<div class="col-md-6">
			<div class="item-dana">
				<div class="img">
					<img class="img-col" src="images/pot12.png" alt="My Image">
					<div class="overlay">
						<div class="specie">CACTI</div><br>
						<button type="button" class="btn btn-primary">ADD TO CART</button>
					</div>
				</div>
				<div class="continut-item">
					<div class="nume">Astrophytum ornatum</div>
					<div class="pret">$8.50</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			
			<div class="item-dana">
				<div class="img">
					<img class="img-col" src="images/pot13.png">
					<div class="overlay">
						<div class="specie">CACTI</div><br>
						<button type="button" class="btn btn-primary">ADD TO CART</button>
					</div>
				</div>
				<div class="continut-item">
					<div class="nume">Aloe juvenna</div>
					<div class="pret">$25.00</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row row-dana">

		<div class="col-md-6">
			<div class="item-dana">
				<div class="img">
					<img class="img-col" src="images/pot14.png" alt="My Image">
					<div class="overlay"> 
						<div class="specie">CACTI</div><br>
						<button type="button" class="btn btn-primary">ADD TO CART</button>
					</div>
				</div>
				<div class="continut-item">
					<div class="nume">Agave parrasana</div>
					<div class="pret">$10.00</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="item-dana">
				<div class="img">
					<img class="img-col" src="images/pot15.png">
					<div class="overlay">
					<div class="specie">CACTI</div><br>
						<button type="button" class="btn btn-primary">ADD TO CART</button>
					</div>
				</div>
				<div class="continut-item">
					<div class="nume">Aeonium decorum</div>
					<div class="pret">$7.00</div>
				</div>
			</div>
		</div>

	</div>

</div>')